
<div class="dropdown menu-dropdown">
  <button class="btn btn-hamburger" data-toggle="dropdown">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <ul class="dropdown-menu">
    {{#each sections as |section|}}
      <li>
        {{#link-to section.route}}
          {{#if section.emoji}}
            {{section.emoji}}&nbsp;&nbsp;
          {{/if}}
          {{section.title}}
        {{/link-to}}
      </li>
    {{/each}}
    <li>
      <a href="{{django_host}}/{{api_namespace}}/" target="_blank">
        📡&nbsp;&nbsp;
        Django REST api
      </a>
    </li>
  </ul>
</div>

