
{{app-breadcrumbs
    mainLabel='Ember dynamic client'
    mainRoute='djember'
    appRoute='djember.app'
    changeListRoute='djember.list'
    changeFormRoute='djember.form'
}}

<div class="container-fluid">
  {{liquid-outlet}}
</div>

